# =========================================
# Visual Studio / .NET Core
# C#のコードをビルド（コンパイル）した際に自動的に生成されるファイル群です。ソースコードではないため、リポジトリに含める必要はありません。
# =========================================
[Bb]in/
[Oo]bj/
.vscode/

# =========================================
# AWS SAM / AWS Toolkit
# =========================================

# sam build コマンドを実行した際に作られる、ビルド後の中間ファイルが格納されるフォルダです。これも含める必要はありません。
.aws-sam/ 
# sam deploy --guided を実行した際に作られる設定ファイルです。スタック名やS3バケット名など、あなた個人のデプロイ環境に関する情報が書かれているため、公開しないのが一般的です。
samconfig.toml
aws-lambda-tools-defaults.json

# =========================================
# AWS CLI credentials (念のため)
# =========================================
.aws/

# =========================================
# google cloud platform関連
# =========================================
credentials.json
gcp_credentials.json

# =========================================
# User-specific files
# =========================================
*.user
*.userosscache
*.sln.docstates